<!DOCTYPE html>
<html lang="en">
<head>
	<title>Signup</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    
	<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
                <span class="login100-form-title p-b-70">
						Welcome
					</span>
				<form  method="POST" action="/signup" class="login100-form validate-form" >
						<img id="avatarID" src="/images/user.png" >
						<input type="file" id="uploadImg" name="avatar" accept="image/*" required>
					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username" required>
					</div>
                    <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter Email">
						<input class="input100" type="email" name="email" placeholder="Email" required>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="password" id="password" placeholder="Password" required  >
					</div>
                    <div class="wrap-input100 validate-input m-b-50" data-validate="Enter confirm password">
						<input class="input100" type="password" name="confirmPassword" id="confirmPassword"  placeholder="Confirm Password" required onfocusout="validatePassword()">
					</div>
					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter confirm password">
						<input class="input100" type="hidden" name="role" value="user">
					</div>
					<div class="wrap-input100 validate-input m-b-50" >
						<p id="pError" style="color: red;" >{{Error}}</p>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Signup
						</button>
					</div>
				</form>
                <a href="login">Already have an account ? Login</a>
			</div>
		</div>
	</div>
<script>

	

function validatePassword(){
	var password = document.getElementById("password");
	var confirmPassword = document.getElementById("confirmPassword");

	if(password.value != confirmPassword.value){
		document.getElementById("pError").innerHTML="Password Does'nt Match"
		document.getElementById("confirmPassword").focus();
	}
	else{
		document.getElementById("pError").innerHTML=""
	}
}


</script>
</body>
</html>